$border: 2px solid black;

.header-text {
    margin: 17px 0 42px 0;
}

.invite {
    &__wrapper {
        padding: 35px 50px 40px;
        border: $border;
        border-radius: 5px;
        text-align: center;
    }

    &__template-block {
        margin-inline: auto;
        max-width: 75%;
        text-align: center;

        &:first-child {
            margin-bottom: 70px;
        }

        &:last-of-type {
            margin-bottom: 25px;
        }

    }

    &__template-content {
        padding: 30px;
        border: $border;
        border-radius: 5px;
        text-align: center;

    }
}

.template-header {
    position: relative;
    text-align: center;

    .template-button {
        position: absolute;
        top: -10px;
        right: 0;
    }
}