@import '../../../styles/__variables';
$linkColor: #1a202c;

// .sidebar {
//     position: fixed;
//     top: $header-height;
//     left: 0;
//     // min-width: 75px;
//     height: calc(100% - $header-height);
//     box-shadow: 2px 0 2px #c6c6c6;

//     &-nav {
//         height: 100%;
//         display: flex;
//         flex-direction: column;
//     }

//     &-list {
//         height: 100%;
//         display: flex !important;
//         flex-direction: column !important;
//         margin: 0 !important;
//         padding-top: 0 !important;
//         padding-left: 0px !important;
//         // padding-left: 10px !important;
//         // padding-right: 10px !important;
//         list-style: none !important;

//         &--bottom {
//             margin-top: auto;
//         }

//         &__item {
//             // padding: 0 5px;
//             // padding-left: 10px !important;
//             // padding-right: 10px !important;
//             &:nth-last-child(2) {
//                 // cursor: pointer;
//                 margin-top: auto;
//             }
//         }
//     }
// }

// .list-item {
//     height: auto;

//     &__button {
//         text-align: center;
//         min-width: 70px;
//         // width: 75px !important;
//         & svg {
//             $svgsize: 25px;
//             fill: $linkColor;
//             max-width: $svgsize;
//             max-height: $svgsize;
//             width: 100%;
//         }

//         & span {
//             display: block;
//         }

//     }

//     &__subtitle {
//         color: $linkColor;
//     }

//     &__text {
//         margin: 0;
//         line-height: 1;
//         text-align: center;
//         text-transform: uppercase;
//         font-size: .7rem;
//         color: $linkColor;
//     }
// }

// .navLink {
//     // width: 75px !important
//     color: black;
// }

// .activeLink {
//     svg {
//         fill: #4ea39a;
//     }

//     .list-item__subtitle {
//         color: #4ea39a;
//     }

// }

.sidebar {
    &-nav {
        position: fixed;
        top: $header-height;
        left: 0;
        height: calc(100vh - $header-height);
        display: flex;
        flex-direction: column;
        box-shadow: 2px 0px 2px #ccc;
        background-color: #fff;
    }

    &-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        height: auto;
        padding-top: 0 ;
        padding-left: 0px;
        list-style: none;

        &:last-child {
            margin-top: auto;
            border-top: 2px solid #ccc;
        }

        &__item {
            &:hover {
                background-color: #e4f2f1;
            }
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 5px 3px;

                &.active {
                    background-color: #c2dbda;
                }
            }
        }
    }
}

.list {
    &-item {
        &__svg {
            // $svgsize: 25px;
            // fill: $linkColor;
            // max-width: $svgsize;
            // max-height: $svgsize;
            // width: 100%;

            svg {
                $svgsize: 25px;
                fill: $linkColor;
                max-width: $svgsize;
                max-height: $svgsize;
                width: 100%;
            }
        }

        &__text {
            color: black;
            margin: 5px 0;
        }
    }
}
